:root {
  --ifm-color-primary: #22a7f0;
  --ifm-color-primary-dark: #109be7;
  --ifm-color-primary-darker: #0f92da;
  --ifm-color-primary-darkest: #0c78b4;
  --ifm-color-primary-light: #3cb1f2;
  --ifm-color-primary-lighter: #48b6f3;
  --ifm-color-primary-lightest: #6fc6f5;
}
